#gear_btn {
    position: relative;
    cursor: pointer;
}

.gear-dropdown {
    position: absolute;
    top: 30px;
    right: -50px;
    width: 200px;
    display: none;
    z-index: 1;
    background: white;
    // padding: 5px;
    border: 2px rgba(48, 46, 46, 0.322);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.dropdown-subtitle {
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}


.help {
    color:lightslategrey;
}

#gear_btn:hover .gear-dropdown {
    display: block;
    // border: grey;
    // border-width: 10px;
}


#gear_btn .gear-dropdown li a:hover {
    display: inline-block;
}

.editions li:hover {
    position: relative;
    background-color:grey;
    z-index: 2;
    border-radius: 3px;
}

.editions a {
    text-decoration: none;
    display: block;
    color: darkgray;
}

.help li:hover {
    position: relative;
    background-color: lightskyblue;
    z-index: 2;
    border-radius: 4px;
}


.help a {
    text-decoration: none;
    display: block;
}
