<header class="masthead">
<nav class="language-nav">
    <ul>
        <li><a href="#">CSS</a></li>
        <li><a href="#">HTML</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Ruby</a></li> 
    </ul>
</nav>

<img class="logo" src="assets/AA_Times_Logo.png" alt="">


<ul class="masthead-links">
    <li><button><time>Tuesday, October 18, 2016</time></button></li>
    <li><button><i class="far fa-newspaper"></i><u><a href="#">Today's Paper</a></u></button></li>
    <li><button><i class="fas fa-video"></i><u><a href="#">Video</a></u></button></li>
    <li><button><a href="">77°F</a></button></li>
    <li><button><a href="">AAO +100%</a></button></li>
</ul>



</header>